# IntelliJ project files
.idea
*.iml
out
gen

# Virtual Environment
/env/

# VS Code
.vscode

# Misc.
.ipynb_checkpoints
bash.exe.*
__pycache__
/*__pycache__

# ADD ANY OTHER DIRECTORIES/FILES HERE
*Report*
